.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: clamp(2em , 4vw ,10rem);
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
  color: #6EFFC4;
}

.char {
  display: inline-block;
}